# VSCode elated folders
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
RVWeb.exe
src/main

## Local 

.cmake

CMakeFiles/

test/

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner
intermediary_file.dat
rvweb
intermediary_file.csv
